body {
  border: 3px solid lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 25px auto;
  padding: 10px;
  width: 30%;
}

button {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  display: inline;
  color: #000000;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  width: 25%;
}

h1 {
  padding: 10px;
}

input[type="checkbox"] {
  display: inline;
  padding: 5px;
}

input[type="text"] {
  box-sizing: border-box;
  display: inline;
  margin: 8px 0;
  padding: 10px;
  width: 72%;
}

.list {
  border-bottom: 3px solid lightblue;
  display: inline;
}

#todo {
  border-bottom: 3px solid lightblue;
  display: inline;
}
